<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>尚硅谷会员登录页面</title>
    <base href="/bookstore/"/>
    <link type="text/css" rel="stylesheet" href="static/css/style.css" />
    <script src="static/script/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="login_header">
        <a href="index.html">
          <img class="logo_img" alt="" src="static/img/logo.gif" />
        </a>
      </div>

      <div class="login_banner">
        <div id="l_content">
          <span class="login_word">欢迎登录</span>
        </div>

        <div id="content">
          <div class="login_form">
            <div class="login_box">
              <div class="tit">
                <h1>尚硅谷会员</h1>
              </div>
              <div class="msg_cont">
                <b></b>
                <span class="errorMsg" style="color: red">{{errorMessage}}</span>
              </div>
              <div class="form">
                <form action="login">
                  <label>用户名称：</label>
                  <input
                          class="itxt"
                          type="text"
                          placeholder="请输入用户名"
                          autocomplete="off"
                          tabindex="1"
                          name="username"
                          id="username"
                          v-model="username"
                  />
                  <br />
                  <br />
                  <label>用户密码：</label>
                  <input
                          class="itxt"
                          type="password"
                          placeholder="请输入密码"
                          autocomplete="off"
                          tabindex="1"
                          name="password"
                          id="password"
                          v-model="password"
                  />
                  <br />
                  <br />
                  <input type="submit" value="登录" id="sub_btn" @click="loginCheck"/>
                </form>
                <div class="tit">
                  <a href="pages/user/regist.html">立即注册</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="bottom">
      <span>
        尚硅谷书城.Copyright &copy;2015
      </span>
      </div>
    </div>
    <script>
      var vue = new Vue({
        "el":"#app",
        "data":{
            "username":"",
            "password":"",
            "errorMessage":""
        },
        "methods":{
          loginCheck(){
            //判断用户名和密码是否为空
            if (this.username != "") {
              if (this.password == ""){
                //就要阻止表单提交
                event.preventDefault()
                //加入提示功能
                this.errorMessage = "密码不能为空"
              }
            }else {
              //就要阻止表单提交
              event.preventDefault()
              //加入提示功能
              this.errorMessage = "用户名不能为空"
            }
          }
        }
      });
    </script>
  </body>
</html>
