<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>view-prefix</param-name>
        <param-value>/WEB-INF/view/</param-value>
    </context-param>
    <context-param>
        <param-name>view-suffix</param-name>
        <param-value>.html</param-value>
    </context-param>
    <servlet>
        <servlet-name>PortalServlet</servlet-name>
        <servlet-class>servlet.PortalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllServlet</servlet-name>
        <servlet-class>servlet.ShowAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToAddServlet</servlet-name>
        <servlet-class>servlet.ToAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSoldierServlet</servlet-name>
        <servlet-class>servlet.AddSoldierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToUpdateServlet</servlet-name>
        <servlet-class>servlet.ToUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>servlet.UpdateServlet</servlet-class>
    </servlet>


    <!--    *****************************************************-->
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToUpdateServlet</servlet-name>
        <url-pattern>/toUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSoldierServlet</servlet-name>
        <url-pattern>/addSolder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToAddServlet</servlet-name>
        <url-pattern>/toAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllServlet</servlet-name>
        <url-pattern>/showAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortalServlet</servlet-name>
        <url-pattern>/portal</url-pattern>
    </servlet-mapping>
</web-app>